.movie-library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.rental-movie-button {
  max-width: 60%;
  margin-left: 4em;
  background-color: #93b8c0;
  color: white;
}
