

header {
  background-image: url("https://ak2.picdn.net/shutterstock/videos/18609782/thumb/1.jpg");
  background-color: blue;
  height: 12rem;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}

.display {
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%
}

.rental {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

.search-form {
  float: right;
  margin-right: 10%;
  margin-top: 2%;
}

h1 {
  font-size: 2em;
  padding-top: .8em;
}
