

header {
  background-image: url("https://ak2.picdn.net/shutterstock/videos/18609782/thumb/1.jpg");
  background-color: blue;
  height: 12rem;
  color: white;
  text-align: center;
  font-size:

}

.display {
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%
}
